<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.LogChangeProductCountMapper" >
  <resultMap id="BaseResultMap" type="model.LogChangeProductCount" >
    <id column="lcpc_id" property="lcpcId" jdbcType="INTEGER" />
    <result column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_old_count" property="productOldCount" jdbcType="INTEGER" />
    <result column="product_old_price" property="productOldPrice" jdbcType="DOUBLE" />
    <result column="product_new_count" property="productNewCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    lcpc_id, log_id, product_id, product_old_count, product_old_price, product_new_count
  </sql>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_log_change_product_count
    order by lcpc_id desc
  </select>
  <select id="selectByBaseLogId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from t_log_change_product_count
    where log_id = #{log_id}
  </select>
  <insert id="insert" parameterType="model.LogChangeProductCount" >
    insert into t_log_change_product_count (lcpc_id, log_id, product_id, 
      product_old_count, product_old_price, product_new_count
      )
    values (#{lcpcId,jdbcType=INTEGER}, #{logId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{productOldCount,jdbcType=INTEGER}, #{productOldPrice,jdbcType=DOUBLE}, #{productNewCount,jdbcType=INTEGER}
      )
  </insert>
</mapper>