<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.LogOperationObillResMapper" >
  <resultMap id="BaseResultMap" type="model.LogOperationObillRes" >
    <id column="lobr_id" property="lobrId" jdbcType="INTEGER" />
    <result column="t_obill_id" property="tObillId" jdbcType="INTEGER" />
    <result column="t_product_id" property="tProductId" jdbcType="INTEGER" />
    <result column="t_loo_id" property="tLooId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    lobr_id, t_obill_id, t_product_id, t_loo_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_log_operation_obill_res
    where lobr_id = #{lobrId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_log_operation_obill_res
    where lobr_id = #{lobrId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.LogOperationObillRes" >
    insert into t_log_operation_obill_res (lobr_id, t_obill_id, t_product_id, 
      t_loo_id)
    values (#{lobrId,jdbcType=INTEGER}, #{tObillId,jdbcType=INTEGER}, #{tProductId,jdbcType=INTEGER}, 
      #{tLooId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="model.LogOperationObillRes" >
    insert into t_log_operation_obill_res
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lobrId != null" >
        lobr_id,
      </if>
      <if test="tObillId != null" >
        t_obill_id,
      </if>
      <if test="tProductId != null" >
        t_product_id,
      </if>
      <if test="tLooId != null" >
        t_loo_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lobrId != null" >
        #{lobrId,jdbcType=INTEGER},
      </if>
      <if test="tObillId != null" >
        #{tObillId,jdbcType=INTEGER},
      </if>
      <if test="tProductId != null" >
        #{tProductId,jdbcType=INTEGER},
      </if>
      <if test="tLooId != null" >
        #{tLooId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.LogOperationObillRes" >
    update t_log_operation_obill_res
    <set >
      <if test="tObillId != null" >
        t_obill_id = #{tObillId,jdbcType=INTEGER},
      </if>
      <if test="tProductId != null" >
        t_product_id = #{tProductId,jdbcType=INTEGER},
      </if>
      <if test="tLooId != null" >
        t_loo_id = #{tLooId,jdbcType=INTEGER},
      </if>
    </set>
    where lobr_id = #{lobrId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.LogOperationObillRes" >
    update t_log_operation_obill_res
    set t_obill_id = #{tObillId,jdbcType=INTEGER},
      t_product_id = #{tProductId,jdbcType=INTEGER},
      t_loo_id = #{tLooId,jdbcType=INTEGER}
    where lobr_id = #{lobrId,jdbcType=INTEGER}
  </update>
</mapper>