<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ObillOUPCTypeMapper" >
  <resultMap id="BaseResultMap" type="model.ObillOUPCType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bill_id" property="billId" jdbcType="INTEGER" />
    <result column="operation_user_product_count" property="operationUserProductCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, bill_id, operation_user_product_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from obill_oupc
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from obill_oupc
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.ObillOUPCType" >
    insert into obill_oupc (id, bill_id, operation_user_product_count
      )
    values (#{id,jdbcType=INTEGER}, #{billId,jdbcType=INTEGER}, #{operationUserProductCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.ObillOUPCType" >
    insert into obill_oupc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="billId != null" >
        bill_id,
      </if>
      <if test="operationUserProductCount != null" >
        operation_user_product_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="billId != null" >
        #{billId,jdbcType=INTEGER},
      </if>
      <if test="operationUserProductCount != null" >
        #{operationUserProductCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.ObillOUPCType" >
    update obill_oupc
    <set >
      <if test="billId != null" >
        bill_id = #{billId,jdbcType=INTEGER},
      </if>
      <if test="operationUserProductCount != null" >
        operation_user_product_count = #{operationUserProductCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.ObillOUPCType" >
    update obill_oupc
    set bill_id = #{billId,jdbcType=INTEGER},
      operation_user_product_count = #{operationUserProductCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>