<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.ObillInfoMapper" >
  <resultMap id="BaseResultMap" type="model.ObillInfo" >
    <id column="obill" property="obill" jdbcType="INTEGER" />
    <result column="obill_time" property="obillTime" jdbcType="TIMESTAMP" />
    <result column="obill_money" property="obillMoney" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    obill, obill_time, obill_money
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_obill_info
    where obill = #{obill,jdbcType=INTEGER}
  </select>
  <select id="selectAllOrderByTimeDesc" resultMap="BaseResultMap" >
    select *
    from t_obill_info
    order by t_obill_info.obill_time
  </select>
  <insert id="insert" parameterType="model.ObillInfo" keyProperty="obill" useGeneratedKeys="true">
    insert into t_obill_info (obill, obill_time, obill_money)
    values (#{obill,jdbcType=INTEGER}, #{obillTime,jdbcType=TIMESTAMP}, #{obillMoney,jdbcType=DOUBLE}
      )
  </insert>
</mapper>