<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.OUPCTypeMapper" >
  <resultMap id="BaseResultMap" type="model.OUPCType" >
    <id column="operation_id" property="operationId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="operation_type" property="operationType" jdbcType="INTEGER" />
    <result column="change_count" property="changeCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    operation_id, user_id, product_id, operation_type, change_count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operation_user_product_count
    where operation_id = #{operationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from operation_user_product_count
    where operation_id = #{operationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="model.OUPCType" >
    insert into operation_user_product_count (operation_id, user_id, product_id, 
      operation_type, change_count)
    values (#{operationId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{operationType,jdbcType=INTEGER}, #{changeCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="model.OUPCType" >
    insert into operation_user_product_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operationId != null" >
        operation_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="operationType != null" >
        operation_type,
      </if>
      <if test="changeCount != null" >
        change_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operationId != null" >
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null" >
        #{operationType,jdbcType=INTEGER},
      </if>
      <if test="changeCount != null" >
        #{changeCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.OUPCType" >
    update operation_user_product_count
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="operationType != null" >
        operation_type = #{operationType,jdbcType=INTEGER},
      </if>
      <if test="changeCount != null" >
        change_count = #{changeCount,jdbcType=INTEGER},
      </if>
    </set>
    where operation_id = #{operationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.OUPCType" >
    update operation_user_product_count
    set user_id = #{userId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      operation_type = #{operationType,jdbcType=INTEGER},
      change_count = #{changeCount,jdbcType=INTEGER}
    where operation_id = #{operationId,jdbcType=INTEGER}
  </update>
</mapper>